# Ignore Python cache & virtual envs
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
venv310/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model hasil training
models/*.pkl
models/*.joblib

# Ignore file sementara / besar
*.dll
*.so
*.parquet
*.zip
*.h5
*.pkl
*.log

# Jangan ignore CSV di folder data
!data/raw/
!data/raw/*.csv
!data/processed/
!data/processed/*.csv
