# Ignore Python cache & virtual envs
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Ignore notebook checkpoints
.ipynb_checkpoints/

# dont Ignore data 
!data/raw/*.csv
!data/processed/*.csv

# Ignore model hasil training
models/*.pkl
models/*.joblib

# Ignore system files
.DS_Store
Thumbs.db

venv/
venv310/
__pycache__/
*.dll
*.so
*.pyd
*.parquet
*.csv
*.zip
*.h5
*.pkl
*.log
*.ipynb_checkpoints/
